/****ISCROLL****/
#wrapper {
    overflow: hidden;
    margin-top: .14rem;
    
}
#scroller {
    float: left;
}
.category-list{
	overflow: hidden;
    font-size: 0;
    height: .68rem;
    white-space:nowrap;
    padding: 0 .2rem;
	border-radius: .06rem 0 0 .06rem;
	transform: translateX(.48rem);
}
.category-list li{
	display: inline-block;
    width: 1.28rem;
    line-height: .68rem;
    background: #FFFFFF;
    text-align: center;
    font-size: .3rem;
}
.category-list li:nth-child(1){
	border-radius: .12rem 0 0 .12rem;
	border-right:none ;
}
.category-list li:nth-last-child(2){
	border-radius: 0 .12rem .12rem 0;
	border-left:none ;
}
.list_end{
	visibility: hidden;
}
.tab_list_active{
	color: #007AFF;
}
.header{
	overflow: hidden;
	height: 1.02rem;
	background-image: linear-gradient(-180deg, #FDFDFE 0%, #F0F0F0 100%);
}
.content{
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 2.3rem;
}
.list{
	width: 6.7rem;
	margin: 0 auto;
	padding-top: .04rem;
}
.item{
	border-bottom: .002rem solid #eee;
	height: 5.16rem;
	overflow:hidden;
	position: relative;
}
.top_w{
	margin-top: .16rem;
	width: 8.3rem;
	height: 3.76rem;
	position: relative;
}
.item_img{
	width: 6.7rem;
	height: 3.76rem;
	float: left;
	
}
.item_title{
	width: 100%;
	white-space: nowrap;
	overflow-x:scroll;
	font-size: .32rem;
	color: #000000;
	margin-top: .16rem;
}
.del{
	width: 1.6rem;
	height: 3.76rem;
	background: #F0F0F0;
	border-radius:.08rem ;
	float: left;
}
.del_img{
	display: block;
	width: .48rem;
	height: .54rem;
	margin: 0 auto;
	margin-top: 1.46rem;
}
.del_txt{
	width: 100%;
	text-align: center;
	font-size: .3rem;
	color: #FF2D55;
	margin-top: .04rem;
}
.bottom{
	margin-top: .08rem;
	height: .44rem;
	line-height: .44rem;
}
.bottom p{
	width: 5rem;
	white-space: nowrap;
	overflow-x: scroll;
	float: left;
}
.bottom span{
	float: right;
	font-size:.32rem;
	color: #FF2D55;
}
.btn{
	position: fixed;
	bottom: 1.4rem;
	right: .3rem;
	z-index: 1;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	margin: 0 auto;
	font-size: .28rem;
	border-radius: 50% ;
	background: #007aff;
	text-align: center;
	color: #fff;
}
.empty{
	display: none;
}
.empty_img{
	width: 4.56rem;
	height: 4.08rem;
	display: block;
	margin: 0 auto;
	margin-top: 1.54rem;
}
.empty_txt{
	font-size: .32rem;
	color: #222;
	text-align: center;
}
.list{
	display: none;
}


.footer { width: 100%; padding-bottom: 0.15rem; background: #FEFEF4; border-top: solid 0.02rem #E5E5E5;position: fixed;bottom: 0;}
.footer:after { clear: both; content: ""; display: block; height: 0; overflow: hidden; visibility: hidden;}
.footer figure { float: left; width: 25%; padding-top: 0.15rem; text-align: center; }
.footer figure img { width: 0.44rem; height: 0.44rem; margin-bottom: 0.1rem;}
.footer figcaption { line-height: 0.28rem; font-size: 0.2rem; color: #8A8A8F; letter-spacing: 0.012rem;}
.fBlue figcaption { color: #007AFF;}