.emeanour_all{
	
	height: 100%;
	background: url(../img/emeanour_Background.png);
}
.emeanour_name{
	font-family: PingFangSC-Semibold;
	font-size: 0.4rem;
	color: #000000;
	height: 0.56rem;
	
}
.emeanour_pad{
	padding: 0.48rem 0.4rem 0 0.4rem;
	letter-spacing: 0.0029rem;
	
}
.emeanour_img{	
	width: 100%;
	height: 3.74rem;
	margin-top: 0.16rem;
}
.emeanour_top{
	margin-top: 0.48rem;
}
.emeanour_fit{
	width: 0.24rem;
	height: 0.24rem;
}
.emeanour_text{
	width: 6.3rem;
	float: right;
	font-family: PingFangSC-Regular;
	font-size: 0.28rem;
	color: #000000;
	
}
.emeanour_span{
	
	margin-top: 0.1rem;
	width: 100%;

}
.emeanour_line{
	margin-top: 0.16rem;
	width: 100%;

}
.emeanour_honor{
	
	display: inline-block;
	width: 100%;
	margin-top: 0.448rem;
	
}
.emeanour_pict{
	width: 0.752rem;
	height: 0.752rem;
	display: block;
	margin: auto;
}
.emeanour_p{
	font-family: PingFangSC-Regular;
	font-size: 0.10rem;
	color: #070707;
	text-align: center;
	margin-top: 0.04rem;
	width: 100%;
	height: 0.76rem;
}
.emeanour_divid{
	width: 1.48rem;
	float: left;
	margin-left: 0.1rem;
	
}
.emeanour_left{
	margin-left: 0.43rem;
}

 .emeanour_swiper{
 	width: 100%;
 }
.img_swiper{
	width: 100%;
	height: 3.74rem;
}
